

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
background-image:url('../img/bg.jpg');
background-size:cover;
background-repeat:no-repeat;
background-color:#020202;
background-position: center center;
font-family: 'Lato', sans-serif;
font-weight: bold;
padding-top:30px;
}

.app-icon{
	max-width:120px;
	position: relative;
	top: -10px;
	margin-right:25px;
}
.iphone img{
	max-height:500px;

}
/*final-state */
.hero {
	position:relative;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	-ms-transition: all 2s linear;
	transition: all 2s linear;

	-webkit-transform-origin: right center;
	-webkit-transform: perspective( 1000px );

	-moz-transform-origin: right center;
	-moz-transform: perspective( 1000px );

	transform-origin: right center;
	transform: perspective( 1000px );
}
.hero.intro-setup{

	-webkit-transform: perspective( 1000px ) rotateY( -90deg );
	-moz-transform: perspective( 1000px ) rotateY( -90deg );
	-ms-transform: translateX(400px);
	transform: perspective( 1000px ) rotateY( -90deg );

}

#headline{
	font-size:30px;
	color:white;
}
footer{
 color:white;
 text-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}
.press {
	/*margin-top:100px;*/
}
.press a{
 color:white;
 font-weight:bold;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.press blockquote {
 padding:5px;
 border-radius:5px;

 background-color: rgba(255, 255, 255, 0.3);

 font-size :20px;

}
.press cite{
	font-weight:bold;
	font-size:15px;
	color:#F0F0F0 ;
}
#callToAction{
display:inline-block;
line-height:20px;
margin-top:9px;
}
.fb_iframe_widget {
	top:2px;
}

@media only screen and (max-width: 767px){
	body{
		background-size:cover;
		background-repeat:no-repeat;
		background-color:#020202;
		font-family: "Helvetica Neue", sans-serif ;
		padding-top:30px;
		font-weight:300;
	}
	h1,h2,h3,h5,h4 {
		font-weight:300;
	}
	.press a {
		font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
	.app-icon{
		max-width:100px;
		margin-right: 10px;
	}
	.app-logo{
		max-width:50%;
	}
	.social-btns{
		display:none;
	}
	.hero {
		-webkit-transform: none;
		-moz-transform:none;
		-ms-transform: none;
		transform: none;

	}
	.iphone , .iphone img {
			float:none;
	}
	.iphone{
		text-align: center;
		padding:20px 0px;
	}
}
@media only screen and (min-width: 768px){
	html{
	  height: 100%
	}

}
@media only screen and (min-width: 768px) and (min-height: 880px){
	html, body{
		overflow: hidden;
	}
	.iphone img{
		max-height:600px;

	}
	.main-content{
		height: 500px;
	    top: calc(50% - 300px);
	    position: absolute;
	    display: inline-block;
	}
	footer {
		position: fixed;
		bottom: 50px;
	}
}
