

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-image:url('../img/sunset_birds_opt.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#1b1b20;
  background-position: top center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-top:30px;
  padding-left: 0px;
  padding-right: 0px;
}
header{
  padding-top:50px;
  padding-bottom:100px;
}
 h1 {
  display: inline;
  color: white;
  font-size:50px;
  line-height: 60px;
}
h4 {
  font-size: 20.5px;
  line-height: 30px;
}
.font-light{
  font-weight: lighter;
}
.app-icon{
	max-width:120px;
	position: relative;
	top: -10px;
	margin-right:25px;
  border-radius : 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.app-logo{
  height:60px;
}
.iphone {
  position: relative;
  padding-bottom:100px;
  padding-top:100px;
}
.iphone img{

}
/*final-state */
.hero {
  /*transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1);*/
  position: relative;
	/*transform-origin: center center;
  transform: perspective( 1500px ) rotateY( 20deg );*/
}
.iphone-container{
  position: relative;
  width: 43vw;
  margin: 0px auto;
  max-width: 450px;
}
.iphone-container .hero{
  width: 100%;
}
.iphone-container #app-demo{
  width: 84.5%;
  position: absolute;
  top: 14.5%;
  left: 7.7%;
}
.hero:hover{
	/*transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1);
	transform-origin: center center;
	transform: perspective( 1500px ) ; */
}
.hero.intro-setup{
	/*transform: perspective( 1500px ); */
}
.download-badge{
  text-align:right;
}
#headline{
	font-size:30px;
	color:white;
}
.brand-desc{
  padding-bottom: 20px;
}
.note{
  font-size: 35px;
}
.padding-25{
  padding-top:25px;
}
footer {
  margin-top: 100px;
  background-color:#af5204;
  color:white;
  padding-top:50px;
  padding-bottom:50px;
  background-color: #2f363f;
  font-size: 18px;
}
#callToAction{
  display:inline-block;
  line-height:20px;
  margin-top:9px;
}
.fb_iframe_widget {
	top:2px;
}
/* mobile targeting rules */
@media only screen and (max-width: 767px){
  header{
    padding-top:0px;
    padding-bottom:20px;
  }
	body{
		background-size:cover;
		background-repeat:no-repeat;
		background-color:#020202;
		font-family: "Helvetica Neue", sans-serif ;
		padding-top:30px;
		font-weight:300;
	}
  .app-icon{
  	max-width:60px;
    border-radius:10px;
    margin-right: 10px;
  }
  .app-logo{
    height: 40px;
    position: relative;
    top: -8px;
  }
  .mobile-hidden{
    display:none;
  }
  .container{
    margin-left:20px;
    margin-right:20px;
  }

	h1,h2,h3,h5,h4 {
		font-weight:300;
	}
  h1{
    font-size:25px;
    line-height: 30px;
  }
  .note{
    font-size: 25px;
  }
	.press a {
		font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
	.social-btns{
		display:none;
	}
  .iphone-container{
    width: 75vw;
  }
	.iphone{
		text-align: center;
		padding:20px 0px;
	}
  .download-badge{
    text-align:center;
  }
  footer{
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px){
	html{
	  height: 100%
	}

}
@media only screen and (min-width: 768px) and (min-height: 880px){
	html, body{
		overflow: auto;
	}

}
