

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background: linear-gradient(to right, hsla(27, 96%, 72%, 1), #FF5F6D);
  background-size: cover;
  background-repeat: repeat-y;
  background-color: #1b1b20;
  background-position: top center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  padding-top:30px;
  padding-left: 0px;
  padding-right: 0px;
}
::selection {
  background: #fcac72;   /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcac72;    /* Gecko Browsers */
}
iframe{
  width:80%;
  height:500px;
}
header{
  padding-top:50px;
  padding-bottom:50px;
}
 h1 {
  display: inline;
  color: white;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
}
h1 small{
  font-weight: normal;
  color:white;
}
h3{
  font-size: 28.5px;
}
h4 {
  font-weight: normal;
  font-size: 26.5px;
  line-height: 40px;
}
.badge-large{
  padding: 120px 0px;  
}
.font-light{
  font-weight: lighter;
}
.app-icon{
  max-width: 140px;
  position: relative;
  top: -10px;
	margin-right:25px;
  border-radius : 70px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.app-logo{
  height:60px;
}
.iphone {
  position: relative;
  padding-bottom:50px;
}
.iphone img{

}
/*final-state */
.hero {
  position: relative;
}
.iphone-container{
  position: relative;
  width: 25vw;
  margin: 0px auto;
  max-width: 450px;
  min-width: 300px;
}
.iphone-container .hero{
  width: 100%;
}
.iphone-container #app-demo{
  width: 84.5%;
  position: absolute;
  top: 14.4%;
  left: 7.6%;
}
.download-badge{
  text-align:right;
}
#headline{
	font-size:30px;
	color:white;
}
.note{
  font-size: 50px;
}
.padding-25{
  padding-top:25px;
}
.press-background-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #5FC2FF;
  color: #f2f2f2;
}

li {
  font-size: 20px;
  list-style: none;
  margin-top: 20px;
  line-height: 43px;
}
li span {
  background-color: #ffffff42;
  padding: 10px 10px;
  border-left: 3px solid;
}
.first-wrapper{
  background-color: #34a4ea;
  box-shadow: 0px 6px 15px -6px #565454 inset;
  margin-top: 50px;
}

blockquote small {
  font-weight: bold;
  font-size: 16px;
}
blockquote a {
  font-size: 18px;
  color:#f2f2f2;
}
blockquote small {
  color:#eee;
}
blockquote {
  padding: 10px 0px 10px 15px;
  margin: 0 0 20px;
  border-left: 2px solid #eee;
  /* border: 1px solid white; */
}
.hero-link  small {

}
.hero-link  a {
  font-size: 22px;
  font-weight: bold;
}
.hero-link{
  padding:20px;
  background-color: rgba(226, 226, 226, 0.31);
  border-left: 4px solid #eee;
}
footer {
  color: #9fc7e0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #006EB2;
  font-size: 20px; 
}
#callToAction{
  display:inline-block;
  line-height:20px;
  margin-top:9px;
}
.fb_iframe_widget {
	top:2px;
}
/* mobile targeting rules */
@media only screen and (max-width: 767px){
  header{
    padding-top:0px;
    padding-bottom:20px;
  }
	body{
		background-size:cover;
		background-repeat:no-repeat;
		background-color:#020202;
		font-family: "Helvetica Neue", sans-serif ;
		padding-top:30px;
		font-weight:300;
  }
  .badge-large{
    padding: 20px 0px;  
  }
  .app-icon{
  	max-width:60px;
    border-radius:30px;
    margin-right: 10px;
  }
  .app-logo{
    height: 40px;
    position: relative;
    top: -8px;
  }
  .mobile-hidden{
    display:none;
  }
  .container{
    margin-left:20px;
    margin-right:20px;
  }

	h1,h2,h3,h5,h4 {
		font-weight:300;
	}
  h1{
    font-size:25px;
    line-height: 35px;
  }
  h1 small{
    font-size:14px;
  }
  .note{
    font-size: 25px;
  }
	.press a {
		font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
	.social-btns{
		display:none;
	}
  .iphone-container{
    width: 75vw;
  }
	.iphone{
		text-align: center;
		padding:20px 0px;
	}
  .download-badge{
    text-align:center;
  }
  .brand-desc{
    padding-bottom: 20px;
  }
  footer{
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px){
	html{
	  height: 100%
	}

}
@media only screen and (min-width: 768px) and (min-height: 880px){
	html, body{
		overflow: auto;
	}

}
